:root {
  /* Colors */
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(0, 0%, 63%);
  --grey-800: hsl(0, 0%, 27%);
  --black: hsl(0, 0%, 0%);

  /* Font */
  --font-family: "League Spartan", system-ui, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: var(--font-family);
    font-size: 16px;           /* As per style guide */
    color: var(--grey-800);
    line-height: 1.6;
}

/* Typography Helpers */
h1, h2 {
    font-weight: 700;
    line-height: 1.1;
}

p {
    font-weight: 500;
    color: var(--grey-500);
}


img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: min(100% - 2rem, 1440px);
  margin-inline: auto;
  padding-inline: 1rem;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: white;
  padding: 2rem 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--white);

  margin: auto;
}

.hamburger,
.close-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding-top: 0.7rem;
}

.icon-close {
  display: none;
}

.nav-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  background: white;
  color: black;
  font-weight: 500;
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
  z-index: 200;
}

.nav-menu.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu.active .icon-close {
  display: block;
  position: absolute;
  top: 2.4rem;
  left: 1rem;
}

.nav-menu.active .hamburger {
  display: none;
}

.nav-link:hover {
  text-decoration: underline;
}
/* Hero */
.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  margin-bottom: -2px;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease;
}

.slide.active {
  opacity: 1;
  visibility: visible;
}

.hero-content {
  color: var(--black);
}

.hero-content h1 {
  font-size: 2rem;
  line-height: 1.1;
  margin: 1.5rem 0;
}

.hero-content p {
  margin-bottom: 1.9rem;
  font-size: 1.05rem;
}

.btn {
  text-decoration: none;
  color: #000;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Slider Controls */
.slider-controls {
  position: absolute;
  top: 304px;
  right: 0;
  display: flex;

  z-index: 10;
}

.slider-btn {
  width: 3.5rem;
  height: 3.5rem;
  background: #000;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.slider-btn::hover {
  background-color: #706e6e;
}

/* About */
.about {
  padding-top: 4rem;
}

.about-grid {
  display: grid;
  gap: 2rem;
}

.about-text {
  background: white;
  padding: 2.5rem 1.5rem;
}

.about-text h2 {
  font-size: 1.2rem;
  letter-spacing: 4px;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}

/* ====================== DESKTOP ====================== */
@media (min-width: 700px) {
  .header {
    width: 40%;
  }
  .hamburger,
  .close-menu {
    display: none;
  }

  .logo {
    margin-top: 19px;
  }
  .nav-menu {
    display: flex;
    position: static;
    width: auto;
    height: auto;
    background: transparent;
    flex-direction: row;
    gap: 2.5rem;
    font-size: 1rem;
    align-items: center;
  }

  .nav-menu li a {
    color: #fff;
  }

  .hero {
    min-height: 79vh;
  }

  .slide {
    display: flex;
  }

  .slide picture {
    flex: 2;
  }
  .hero-content {
    flex: 1;
    padding: 4rem 3.5rem 0;

    background: rgba(255, 255, 255, 0.95);
  }

  .hero-content h1 {
    font-size: 1.9rem;
  }
  .hero-content p {
    margin-bottom: 0.9rem;
    font-size: 1.05rem;
  }

  .slider-controls {
    position: absolute;
    top: 454px;
    right: 415px;
    display: flex;
  }
  .about {
    padding-top: 0;
  }
  .about-grid {
    grid-template-columns: 1fr 1.8fr 1fr;
    gap: 0;
  }
}
